.star-container {
  display: flex;
  flex-direction: row-reverse;
  > input {
    display: none;
  }
  > label {
    width: 1.1em;
    font-size: 50px;
    cursor: pointer;
  }
  > label::before {
    font-family: FontAwesome;
    content: "\f005";
  }
  > label:hover:before {
    color: orange;
  }
  > label:hover ~ label:before {
    color: orange;
  }
  > input:checked ~ label:before {
    color: orange;
  }
}
/* .star-container label[for="0"] {
  opacity: 0%;
} */
