.radioHideInput > input {
  display: none;
}
.radioHideInput > label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.radioHideInput > input:checked + label {
  background-color: rgb(219, 216, 216);
}
