.home-wrapper {
  .image-data {
    display: flex;
    position: absolute;

    width: 100%;
    margin-top: 5%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    > button {
      width: 100px;
    }
  }
  .chosen-image-home {
    border: 1px solid #ee0d0d;
    width: 300px;
    height: 50vh;
    pointer-events: none;
  }
}

// .title {
//   font-weight: bold;
//   font-size: 3rem;
// }

// .Dogs-dog-image {
//   max-width: 60vw;
//   max-height: 40vh;
// }

// .Dogs-image-container {
//   width: 60vw;
//   height: 40vh;
// }

// .Dogs-wrapper .image-table-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   justify-content: center;
//   width: 100%;
//   gap: 1rem;
// }
// .Dogs-wrapper .table-container {
//   width: 40vw;
//   max-width: 40vw;
//   height: 40vh;
// }

// .Dogs-button {
//   padding: 1rem;
//   background: rgb(40, 126, 61);
//   color: cornsilk;
//   border-radius: 1rem;
//   border-color: rgb(40, 126, 61);
//   font-size: 1.6rem;
//   font-weight: 600;
// }

// .Dogs-wrapper .table-component {
//   --tableWidth: 500px;
//   background-color: unset;
//   table-layout: fixed;
//   width: var(--tableWidth);
//   border-collapse: collapse;
// }

// .Dogs-wrapper .table-component tbody {
//   display: block;
//   overflow-y: auto;
//   width: var(--tableWidth);
//   height: 200px;
// }

// .Dogs-wrapper .table-component tr thead {
//   display: block;
// }

// .Dogs-wrapper .table-component td {
//   width: calc(var(--tableWidth) / 2);
//   text-align: left;
// }

// .Dogs-wrapper .table-component td:hover {
//   background-color: #f9f9f9;
// }

// @media screen and (max-width: 700px) {
//   .Dogs-wrapper .image-table-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     margin: 0;
//   }

//   .Dogs-image-container {
//     width: 60vw;
//     height: 25vh;
//     overflow: hidden;
//   }
//   .Dogs-wrapper .table-container {
//     width: 40vw;
//     max-width: 40vw;
//     height: 25vh;
//   }
// }
