@charset "UTF-8";

.navigation {
  height: 100%;
  overflow-x: hidden;
  width: 20vw;
  background-color: rgb(219, 216, 216);
  text-align: center;
  display: block flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.brand {
  margin-top: 3rem;
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 36px;
  margin-top: 2rem;
}

.navigation-menu {
  margin-top: 1rem;
}

.navigation-menu ul {
  margin-top: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.navigation-menu li {
  list-style-type: none;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
}

.contact-nav {
  margin-top: 100px;
  border-top: 2px solid;
  /* width: 50%; */
}

.contact-nav a {
  text-decoration: none;
  color: inherit;
}

.contact-nav a:hover {
  color: #2642af;
}

.navigation-menu li a:hover {
  color: #2642af;
}

.hamburger {
  position: absolute;
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  right: 25px;
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

.fixScrollToggle--on {
  overflow: hidden;
  background-color: #c00;
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .navigation {
    overflow-y: visible;
    overflow-x: unset;
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: absolute;
  }
  .brand {
    transform: scale(0.2);
    margin-top: 0;
  }

  .brand-name {
    font-size: 18px;
    margin-top: 0;
  }

  .navigation-menu {
    z-index: 300;
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: white;
    align-items: center;
    display: none;
    margin: 0;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded {
    display: flex block;
    z-index: 3000;
    position: absolute;
  }
}
