.slider-image-container {
  display: flex;
  gap: 2vmin;
  position: absolute;
  top: 50%;
  cursor: grab;
  .slider-image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    position: relative;
  }
  img {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    &.expanded {
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90vw;
      max-height: 90vh;
      z-index: 11;
    }
    &.another-image-expanded {
      opacity: 0.3;
    }
    &::selection {
      background-color: transparent;
      color: #000;
    }
  }
}

.chosen-image {
  border: 1px solid #490dee;
  width: 40vmin;
  height: 56vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  .expand-image::before {
    position: absolute;
    top: 100%;
    left: 95%;
    font-family: FontAwesome;
    height: 100px;
    pointer-events: all;
    content: "\f065";
    cursor: pointer;
  }
  .expand-image.expanded::before {
    display: none;
  }
}
