//width will be 300 * 100 = 30,000px
//then when we shift alter the content justification

.carousel-container {
  position: absolute;
  background-color: green;
  top: 300px;
  margin: 0;

  .slider-image-container {
    position: absolute;
    display: flex;
    gap: 5px;
    -webkit-user-drag: none;
    cursor: grab;
    &.first {
      background-color: red;
    }
    &.second {
      left: 15250px;
      background-color: blue;
    }
    .slider-image {
      width: 300px;
      height: 500px;
      position: relative;
    }
    img {
      width: 300px;
      height: 500px;
      object-fit: cover;
      object-position: center;
      &.expanded {
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90vw;
        max-height: 90vh;
        z-index: 11;
      }
      &.another-image-expanded {
        opacity: 0.3;
      }
      &::selection {
        background-color: transparent;
        color: #000;
      }
    }
  }
}

.chosen-image {
  width: 300px;
  height: 500px;
  pointer-events: none;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  .expand-image::before {
    position: absolute;
    top: 105%;
    left: 90%;
    font-family: FontAwesome;
    height: 100px;
    pointer-events: all;
    content: "\f065";
    cursor: pointer;
  }
  .expand-image.expanded::before {
    display: none;
  }
}
