//width will be 300 * 100 = 30,000px
//then when we shift alter the content justification

.two-way-carousel-container {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 100px;

  .slider-image-container {
    position: relative;
    display: flex;
    // width: 15000px;
    // right: 50%;
    gap: 5px;
    -webkit-user-drag: none;
    cursor: grab;
    &.first {
      justify-content: right;
      // background-color: red;
    }
    &.second {
      // flex-direction: row-reverse;
      justify-content: left;
      // background-color: blue;
    }
    .slider-image {
      width: 300px;
      height: 500px;
      position: relative;
    }
    img {
      width: 300px;
      height: 500px;
      object-fit: cover;
      object-position: center;
      &.expanded {
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90vw;
        max-height: 90vh;
        z-index: 11;
      }
      &.another-image-expanded {
        opacity: 0.3;
      }
      &::selection {
        background-color: transparent;
        color: #000;
      }
    }
  }
}

.two-way-chosen-image {
  width: 300px;
  height: 500px;
  pointer-events: none;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  .two-way-expand-image::before {
    position: absolute;
    top: 95%;
    left: 90%;
    font-family: FontAwesome;
    height: 100px;
    pointer-events: all;
    content: "\f065";
    cursor: pointer;
  }
  .two-way-expand-image.expanded::before {
    display: none;
  }
}
