.paged-table-container {
  max-width: 500px;
  position: relative;
}

.paged-table {
  --tableWidth: 500px;
  --numberOfColumns: 3;
  background-color: unset;
  table-layout: fixed;
  width: var(--tableWidth);
}

.paged-table tbody {
  display: block;
  overflow-y: auto;
  width: var(--tableWidth);
  height: 200px;
}

.paged-table tr thead {
  display: block;
}

.paged-table td,
.paged-table th {
  text-align: left;
  width: calc(var(--tableWidth) / var(--numberOfColumns));
  width: 166px;
}

.paged-table td:hover {
  background-color: #f9f9f9;
}
