body {
  font-family: karla, monospace;
  line-height: 1.8;
  color: #333;
  font-size: 18px;
  margin: 0;
  overflow: auto;
}

ol,
ul {
  padding-left: 0px;
}

.main-wrapper {
  margin-left: 20vw;
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    margin-left: 0;
    padding-top: 50px;
  }
}

h1.title {
  margin-bottom: 100px;
}
